html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 68, 68);
    font-size: 14px;
}
.main {
    padding: 0;
    margin-top: 89px;
    text-align: center;  
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav {
    position:fixed;
    top: 0;
    width: 99%;    
}

li {
    display: inline;
    padding-top: 5px; 
}

.nav .right {
    float: right;
    padding-right: 20px;
    
}
.nav .left {
    float: left;
    padding-left: 20px;
    
}
li:hover{
    text-decoration: underline;
}

input {
    margin: 10px;
}
.buttons input {
    background: lightgray;
    border:none;
    padding: 10px;
    color: rgb(68, 68, 68);
}
.buttons input:hover {
    border: 1px solid darkgray;
}

.outerbox {
    border: 1px solid darkgray;
    width: 700px;
    margin: auto;
    height: 40px;
    border-radius: 30px;

}

}
.outerbox ul{
    display:inline;
}
.outerbox input {
    border: none;
    margin: 1px 1px 1px 1px;
    width: 600px;
    height: 36px;
    font-size: 16px;
    
}
.outerbox input:focus {
    outline:none;
    
}
.main img {
    margin-bottom: 20px;
}

.outerbox img {
    max-width: 70%;
    max-height: 70%;
    float:right;
    margin:5px;
    margin-right:10px;
}
.outerbox #ssymbol {
    max-width: 50%;
    max-height: 50%;
    float:left;
    margin:8px;
    margin-left:10px;
}
a {
    color: inherit;
    text-decoration: inherit;
}